.app-content {
  min-height: calc(100vh - 69px);
}

.app-footer {
  border-top: 1px solid #333;
  display: flex;
  color: #123;
  justify-content: center;
}

/* todo: 媒体查询，有待学习 */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
